@import '../../variables.scss';

.bag_wrapper {
  padding: 10px;
  background-color: $body-color;

  .bag_books_wrapper {
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid $second-border;
    background-color: $second-background-color;
  }

  .bag_book_item {
    position: relative;
    background-color: $background-color;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid $second-border;
    margin: 10px 0;

    .button_remove_book {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $button-color;
      border-radius: 5px;
      border: 2px solid $border;
    }
  }

  .confirmOrder_button_wrapper {
    display: flex;
    justify-content: center;

    .confirmOrder_button {
      width: 100px;
      border-color: $background-color;
    }
  }
}
