@import './variables.scss';

body {
  background-color: $body-color;
  color: $font-color;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.button {
  background-color: $button-color;
  border-radius: 10px;
  border: 2px solid $border;
  padding: 5px;
}

.body_wrapper {
  width: 1400px;
  margin: auto;
}

.body_content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .form_wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .complete_order_button {
      width: 100px;
    }
  }
}
